.navbarSec{
    margin: 50px;
}
.topBar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

}

.rightTopBar{
    display: flex;
}

.map img{
    padding-right: 5px;
}

.address {
    color: rgba(102, 102, 102, 1);
}

.leftTopBar{
    display: flex;
    align-items: center;
    color: rgba(102, 102, 102, 1);
}

.lang{
    margin-right: 15px;
}

.lang select{
    color: rgba(102, 102, 102, 1);
    border: none;
}

.curr{
    margin-right: 15px;
}

.curr select{
    color: rgba(102, 102, 102, 1);
    border: none;
}

.sign{
    margin-left: 15px;
}

.leftTopBar hr{
    height: 15px;
    border: 1px solid rgba(102, 102, 102, 1);
}