/* Common css */

.navbarSec{
    margin:  20px 50px 0px;
}

/* Topbar css */

.topBar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

}

.rightTopBar{
    display: flex;
}

.map img{
    padding-right: 5px;
}

.address {
    color: rgba(102, 102, 102, 1);
}

.leftTopBar{
    display: flex;
    align-items: center;
    color: rgba(102, 102, 102, 1);
}

.lang{
    margin-right: 15px;
}

.lang select{
    color: rgba(102, 102, 102, 1);
    border: none;
}

.curr{
    margin-right: 15px;
}

.curr select{
    color: rgba(102, 102, 102, 1);
    border: none;
}

.sign{
    margin-left: 15px;
}

/* Search bar css */

.leftTopBar hr{
    height: 15px;
    border: 1px solid rgba(102, 102, 102, 1);
}

.searchBar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
}
.search input{
    padding: 5px 50px 5px 10px ;
}

.search div{
    padding: 4px 10px;
    background-color: rgba(0, 178, 7, 1);
    color: white;
    border-radius: 3px;
}

.contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    height: 80%;
}

.wishlist {
    margin: 0px 10px;
}

.shoppingCart{
    margin: 0px 10px;
    display: flex;
}

.bag{
    margin-left: 1px;
}

.totalAmount {
    margin: 0px 20px;
}
.totalAmount p{
    width: max-content;
}


/* Navbar css */


.navigation {
  background-color: black;
  padding: 0px 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    font-size: 20px;
}

.list{
  align-items: center;
  
}

.list a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.contactNo {
  display: flex;
}

.contactNo img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contactNo h5{
color: white;
}

