.testimonialCard{
  background-color: #fff;
  width: max-content;
  border-radius:10px;
  margin-top: 30px;
  border: 1px solid rgba(230, 230, 230, 1);
}

.quoteIcon{
    margin: 15px;
}

.testimonialQuote {
  width: 425px;
  margin: 0 15px;
}

.testimonialQuote p{
    color: rgba(77, 77, 77, 1);
}

.userDetail{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.userName p{
    color: rgba(153, 153, 153, 1);
}

.rating img{
    width: 15px;
}