.productCard {
  width: 315px;
  height: 410px;
  margin-top: 30px;
  background-color: #fff;
  width: max-content;
  border-radius: 10px;
  border: 1px solid rgba(230, 230, 230, 1);
  transition: border 0.2s;
}

.productCard:hover {
    border: 1px solid rgba(44, 116, 47, 1);
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.productCardImg{
    width: 315px;
    height: 315px;
    position: relative;
}

.productCardBg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.productCardOptions{
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: 0.2s;
}
.productCard:hover .productCardOptions {
    opacity: 1;
}

.productCardOptions img{
     background-color: rgba(242, 242, 242, 1);
    border-radius: 50px;
    padding: 10px;
    margin-top: 5px;
    display: block;
    cursor: pointer;
}


.productCardInfo {
    display: flex;
    justify-content: space-between;
}

.productInfoLeft P{
    margin: 10px 0 10px 15px;
    color: rgba(77, 77, 77, 1);
}

.productInfoLeft h4{
    margin: 0px 0 10px 15px;
}

.productInfoRight{
    margin-right: 20px;
}

.productInfoRight svg{
    background-color: rgba(242, 242, 242, 1);
    border-radius: 50px;
    padding: 10px;
    transition: 0.2s;
    stroke: black;
}

.productInfoRight svg:hover{
    background-color: rgba(0, 178, 7, 1);
    color: #fff;
    stroke: white !important;
}
