
.teamCard {
  width: 312px;
  height: 368px;
  background-color: #fff;
  width: max-content;
  border-radius:10px;
  border: 1px solid rgba(230, 230, 230, 1)
}

.teamCardImg {
  width: 310px;
  height: 280px;
  position: relative;
}

.teamCardBg{
  border-radius: 10px 10px 0 0 ;
}

.teamCardFade {
  border-radius: 10px 10px 0 0 ;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000a9;
  opacity: 0;
  display: grid;
  place-items: center;
  transition: opacity 0.3s;
}

.teamCardIcons {
  display: flex;
}

.teamCardIcon {
  margin: 5px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.teamCardIcons .teamCardIcon:hover {
  background-color: #00b207;
}

.teamCardImg .teamCardBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamCardInfo{
  margin: 20px 0 20px 10px;
}

.teamCardInfo h2 {
  margin: 5px 10px;
}
.teamCardInfo p {
  color: #808080;
  margin: 5px 10px;
}

.teamCard:hover .teamCardFade {
  opacity: 1;
}
