@import "tailwindcss";

@font-face {
    font-family: poppins;
    src: url("./assets/Fonts/Poppins/Poppins-Regular.ttf");
}

* {
    font-family: poppins;
}

.container {
    width: 100%;
    padding: 40px ;
}